<h1 class="titulo-admin">Criar novo post</h1>
<%= tinymce_assets %>
<%= link_to "Voltar", posts_list_path, class: 'btn btn-default alignright' %>
<div class="container">
    	<div class="row">
      		<div class="col-sm-12">
      			<%= render 'form' %>
      		</div>
      	</div>
 </div>