/* Estilos específicos do site */

/* Importando a tipografia para o site */
@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,400i,700');

body {
	background-color: #f8f8f8;
	font-family: 'Lato', sans-serif;
	font-size: 17px;
	line-height: 1.68;
}

/* HEADER BLOG */
/* Header do blog, presente na página inicial */
.header-blog {
	background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), image-url('banner_blog_v2.jpg');
	background-position: center bottom;
	background-repeat: no-repeat;
	color:#fff;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-bottom: 20px;
}
.header-blog h1 {
	font-weight: bold;
	font-size: 40px;
	text-align: center;
	text-shadow: -4px 2px 0px rgba(0, 0, 0, 1);
}
.header-blog h2 {
	font-size: 25px;
	text-align: center;
	text-shadow: -4px 2px 0px rgba(0, 0, 0, 1);
}
.header-blog .logo {
	display: block;
	width: 400px;
	max-width: 90%;
	margin-left: auto;
	margin-right: auto;
}
/* Header do blog, presente na páginas internas */
.header-blog-interna {
	background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), image-url('banner_blog_v2.jpg');
	background-position: center bottom;
	background-repeat: no-repeat;
	color:#fff;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 20px;
}
.header-blog-interna h1 {
	font-weight: bold;
	font-size: 40px;
	text-align: center;
	text-shadow: -4px 2px 0px rgba(0, 0, 0, 1);
}
.header-blog-interna h2 {
	font-size: 25px;
	text-align: center;
	text-shadow: -4px 2px 0px rgba(0, 0, 0, 1);
}
.header-blog-interna .logo {
	display: block;
	width: 200px;
	margin-left: 15px;
}

/* Header do post */
.header-post {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	color:#fff;
	border: 10px solid #fff;
	padding: 50px;
	max-width: 100%;
	margin-bottom: 15px;
}
.header-post h1 {
	font-size: 30px;
	font-weight: bold;
	text-shadow: -2px 1px 1px rgba(0, 0, 0, 0.8);
}
.header-post h2 {
	font-size: 15px;
	text-shadow: -2px 1px 1px rgba(0, 0, 0, 0.8);
}

.btn-voltar {
	padding: 0;
	margin-top: 10px;
	margin-bottom: 10px;
}

/* Formulário de login pro admin*/
.login-form {
    width: 320px;
    margin: 7% auto;
}
.login-logo {
    text-align: center;
    margin-bottom: 25px;
}
.login-logo img {
    max-width: 200px;
}
.login-form form {
    background: #fff;
    padding: 20px;
    border-top: 0;
    color: #666;
}

/* Página interna da administração - Listagem posts */
.logo-admin {
	max-width: 250px;
	padding: 15px;
}
.alignright {
	float: right;
}
.titulo-admin {
	font-weight: bold;
	font-size: 40px;
	text-align: center;
	margin-bottom: 40px;
}
.listagemposts {
	margin-top: 10px;
}
.listagemposts ul li {
	font-size: 20px;
	font-weight: bold;
	margin-top: 20px;
	margin-bottom: 20px;
}
.listagemposts ul li .post-noar {
	font-size: 15px;
	font-weight: normal;
}
.listagemposts ul li .post-noar i {
	color:green;
}
.listagemposts ul li .post-airproar {
	font-size: 15px;
	font-weight: normal;
}
.listagemposts ul li .post-airproar i {
	color:red;
}
.criar-post-form {
	margin-bottom: 20px;
}

/* Caixas de posts na tela inicial */
.home-post {
	margin-bottom: 20px;
	background-color: #fff;
	padding:20px;
	box-shadow: 0px 7px 5px 0px rgba(50, 50, 50, 0.5);
	min-height: 474px;
}
@media screen and (min-width: 1280px) {
	.home-post {
		margin: 20px;
		width: 350px;
	}
}
@media screen and (max-width: 767px) {
	.home-post {
		max-width: 95%;
		margin-left: auto;
		margin-right: auto;
	}	
}
.home-post h3 {
	font-size: 20px;
	font-weight: bold;
	text-align: justify;
}
.home-post .nome-autor-e-data {
	display: block;
	font-size: 12px;
	font-style: italic;
	margin-bottom: 10px;
}

.home-post .post-title a {
    color: #000;
    text-decoration: none;
}

.home-post .post-title a:hover {
     color:#000;
}

.home-post .descricao-post {
	font-size: 14px;
}

footer {
	background-color: #0082C7;
	margin-top: 30px;
	padding-top: 25px;
	padding-bottom: 25px;
}

footer .feitocomamor {
	float:right;
	color:#fff;
	font-size: 14px;
}footer .feitocomamor i {
	color: red;
}

footer .siga-facebook {
	float: left;
	color: #fff;
	font-size: 14px;
}footer .siga-facebook a i {
	color: #fff;
	text-decoration: none;
	font-size: 33px;
  	transition:all 0.6s ease-out;
}footer .siga-facebook a:hover i {
	color: #3b5998;;
}

/* Barra lateral */
.sidebar {
	padding-top: 10px;
	padding-bottom: 10px;
}
.sidebar h4 {
	font-size: 18px;
	font-weight: bold;
}

.sidebar li.post-title {
	list-style-type: none;
	margin-left: -40px;
	margin-bottom: 5px;
	font-size: 14px;
}

.sidebar li.post-title a {
    color: #000;
    text-decoration: none;
   	transition:all 0.6s ease-out;
}

.sidebar li.post-title a:hover
{
     color:#009BDF;
     text-decoration:none;
}

.single-post {
	margin-bottom: 33px;
	text-align: justify;
}

.fb_iframe_widget span {
	vertical-align: top !important;
}
.bootstrap-tagsinput {
	display: block;
}


.btn-fixo-continuelendo {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding-top:10px;
	padding-bottom: 10px;
	border-radius: 0;
}
.landing {
	background-color: #f8f8f8;
	background-image: image-url('bg-landing-01.jpg');
	background-size: cover;
	background-attachment: fixed;
	font-family: 'Lato', sans-serif;
}

input[type="submit"] {
	width: 100%;
	padding: 20px;
	background-color: #0082C7;
	color: #fff;
	font-size: 18px;
	transition:all 0.6s ease-out;
	border:none;
}

input[type="submit"]:hover {
	background-color: #009BDF;
}

@media screen and (min-width: 320px) {
	.caixa-form-leads {
		width: 320px;
		margin: 7% auto;
	}
}

@media screen and (min-width: 360px) {
	.caixa-form-leads {
		width: 360px;
		margin: 7% auto;
	}
}

@media screen and (min-width: 480px) {
	.caixa-form-leads {
		width: 480px;
		margin: 7% auto;
	}
}

@media screen and (min-width: 1024px) {
	.caixa-form-leads {
		margin: 2% auto;
	}
}

.caixa-form-leads-corpo {
	background: #fff;
	padding: 22px;
	border-top: 0;
	color: #666;
}.caixa-form-leads-corpo h1 {
	font-size: 30px;
	font-weight: bold;
}.caixa-form-leads-corpo p {
	font-size: 15px;
}

.pessoafisicaoujuridica {
	float: left;
	margin-right: 10px;
}

.form-control {
	width: 100%;
}
.form-group {
	margin-bottom: 15px;
}.form-group .help-block {
	font-size: 12px;
}

.muitoobrigado {
	background-color: #f8f8f8;
	background-image: image-url('bg-muitoobrigado.jpg');
	background-size: cover;
	background-attachment: fixed;
}

@media screen and (min-width: 1024px) {
	.muitoobrigado .caixa-form-leads {
		margin: 7% auto;
	}
}

 .testes {
                background-color: #f8f8f8;
                background-image: image-url('bg-landing-01.jpg');
                background-size: cover;
                background-attachment: fixed;
                font-family: 'Lato', sans-serif;
            }

            input[type="submit"] {
                width: 100%;
                padding: 20px;
                background-color: #0082C7;
                color: #fff;
                font-size: 18px;
                transition:all 0.6s ease-out;
                border:none;
            }

            input[type="submit"]:hover {
                background-color: #009BDF;
            }

            @media screen and (min-width: 320px) {
                .caixa-testes {
                    width: 320px;
                    margin: 7% auto;
                }
            }

            @media screen and (min-width: 360px) {
                .caixa-testes {
                    width: 360px;
                    margin: 7% auto;
                }
            }

            @media screen and (min-width: 480px) {
                .caixa-testes {
                    width: 480px;
                    margin: 7% auto;
                }
            }

            @media screen and (min-width: 1024px) {
                .caixa-testes {
                    width: 600px;
                }
            }

            .caixa-testes-corpo {
            background: #fff;
            padding: 25px;
            border-top: 0;
            color: #666;
            }.caixa-testes-corpo h1 {
            font-size: 30px;
            font-weight: bold;
            margin-bottom: 15px;
            }.caixa-testes-corpo p {
            font-size: 15px;
            }
            .caixa-testes-corpo img {
                margin-bottom: 15px;
            }

            .refazerteste {
                float: right;
                border:none;
                background-color:#fff;
                text-decoration: underline;
                padding:10px;
                width:200px;
                transition:all 0.5s ease-out;
            }

            .refazerteste:hover {
                text-decoration: underline;
            }

            .compartilhar {
                float:left;
                background-color:#0082C7;
                width:200px;
                text-align:center;
                padding:10px;
                transition:all 0.5s ease-out;
            }.compartilhar:hover {
                background-color: #009BDF;
            }

            .compartilhar a, .compartilhar a:hover {
                color:#fff;
                text-decoration: none;
            }